<div id='wrap2'>
	<!--First row-->
	<a href="<%='/freeplay/' + @freeplay1 %>" >
		<button class="btn btn-large btn-primary button1"type="button"><%='BD '+@title1 %></button>
	</a>
	<a href="<%='/freeplay/' + @freeplay2 %>" >
		<button class="btn btn-large btn-primary button1"type="button"><%='BD '+@title2 %></button>
	</a>
	<a href="<%='/freeplay/' + @freeplay3 %>" >
		<button class="btn btn-large btn-primary button1"type="button"><%='BD '+@title3 %></button>
	</a>
	
	<!--Second row-->
	<a href="<%='#' %>" >
		<button class="btn btn-large btn-primary button2"type="button"><%=@courses %></button>
	</a>
	<a href="<%='/forum' %>" >
		<button class="btn btn-large btn-primary button2"type="button"><%=@forum %></button>
	</a>

</div>