<div id="wrap4">
	<div id="questiontitle">
		<div>
			<%=@forum.name%><br>
			-------------------<br>
			<%=@forum.description%>
		</div>
	</div>

	<%(@interactions.where(:upper_interaction => nil).order(:created_at)).each do |interaction|%>
	<div class="questionbody">
		<div class="user">
			User <%=User.find(interaction.user_id).name%> 
		</div>
		
		<div class="question">
			<%= interaction.description %>
		</div>
		<div style="text-align:right; padding:10px">
			<%if (interaction.snap_id != -1 && interaction.snap_id != nil)%>
			<a href="<%='/freeplay/load/' + interaction.snap_id.to_s %>" >
				<button class="btn btn-small"type="button" style="text-align:right">Carregar banco</button>
			</a>
			<%end%>
			<a href="<%='/interaction/new/' + @forum.id.to_s %>" >
				<button class="btn btn-small"type="button" style="text-align:right">Responder</button>
			</a>
			<a href="<%='/interaction/new/' + @forum.id.to_s + "/" + interaction.id.to_s %>" >
				<button class="btn btn-small"type="button" style="text-align:right">Comentar</button>
			</a>
		</div>
	</div>
		<%(@interactions.where(:upper_interaction => interaction.id).order(:created_at)).each do |comment|%>
		<div class="comment">
			<div class="user">
				User <%=User.find(comment.user_id).name%> 
			</div>

			<div class="question">
				<%= comment.description %>
			</div>
			
			<div style="text-align:right; padding:10px">
				<a href="<%='/interaction/new/' + @forum.id.to_s + "/" + interaction.id.to_s %>" >
				<button class="btn btn-small"type="button" style="text-align:right">Comentar</button>
				</a>
			</div>
		</div>
		<%end%>
	
	<%end%>

</div>